body {
  background-image: url("bgp.jpg");
  background-size: cover;
  background-position: center;
  color: white;
}
h2 {
  color: red;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 50px;
  text-decoration: underline;
}
h3 {
  font-size: 35px;
  color: aqua;
}
h5 {
  color: yellow;
  padding-left: 10%;
  font-size: 19px;
}
h4 {
  font-size: 20px;
}
span {
  color: red;
}
@media screen and (max-width: 480px) {
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 28px;
  }
  h4 {
    font-size: 15px;
  }
  h5 {
    font-size: 13px;
  }
}
@media screen and (max-width: 1200px) {
  h2 {
    font-size: 50px;
  }
}
